.App {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 950px;
  height: 600px;
  padding-left: 10px;
  margin: 50px auto;
  background-color: #00f6fe;
  border-radius: 20px;
  box-shadow: 0 14px 45px rgba(204, 9, 243, 0.22), 0 18px 45px rgba(14, 223, 42, 0.22);
}